<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" content="text/html"/>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/header.css}" href="../../static/css/header.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-default" id="navigation-color">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/sec/contracts}">Contracts</a></li>
                    <li><a th:href="@{/sec/music}">Music</a></li>
                    <li><a th:href="@{/sec/flights}">Flights</a></li>
                    <li><a th:href="@{/sec/weapons}">Weapons</a></li>
                    <li><a th:href="@{/sec/cleaning}">Cleaning</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>