<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/header :: header-meta"></div>
    <title>Cleaning</title>
</head>
<body>
<div>
    <div th:replace="fragments/header :: header"> </div>

    <div class="container">
        <form th:action="@{'/sec/clean/create'}" th:method="POST">
            <fieldset class="form-inline">
                <div>
                    <div style="padding: 5px; display: block">
                        <input name="date" placeholder="Date" type="date" class="form-control" autocomplete="off" style="width: 300px"/>
                    </div>
                    <div style="padding: 5px">
                        <textarea name="comment" placeholder="Enter cleaning comment" class="form-control" rows="4" cols="60" autocomplete="off"></textarea>
                    </div>
                </div>
                <div style="padding: 5px">
                    <button class="btn btn-info" type="Submit" style="width: 100px">
                        <span> Create </span>
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>