<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/header :: header-meta"></div>
    <title>Contracts</title>
</head>
<body>
<div>
    <div th:replace="fragments/header :: header"> </div>

    <section>
        <!--/*@thymesVar id="keys" type="java.util.List"*/-->
        <div th:if="${!contracts.isEmpty()}">
            <div class="tbl-header">
                <table th:if="${role == 'ADMIN'}" cellpadding="0" cellspacing="0" border="0">
                    <colgroup>
                        <col style="width:30%"/>
                        <col style="width:30%"/>
                        <col style="width:20%"/>
                        <col style="width:20%"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Planet</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                </table>
                <table th:if="${role == 'CLIENT'}" cellpadding="0" cellspacing="0" border="0">
                    <colgroup>
                        <col style="width:40%"/>
                        <col style="width:30%"/>
                        <col style="width:30%"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Planet</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div th:if="${role == 'ADMIN'}" class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <colgroup>
                        <col style="width:30%"/>
                        <col style="width:30%"/>
                        <col style="width:20%"/>
                        <col style="width:20%"/>
                    </colgroup>
                    <tbody>
                    <tr th:each="contract : ${contracts}">
                        <td th:text="${contract.id}"></td>
                        <td>
                            <i>
                                <form th:action="@{'/sec/contracts/' + ${contract.id}}" th:method="GET">
                                    <button class="btn btn btn-info" name="id" th:id="${contract.id}" type="Submit">
                                        <span th:text="${contract.title}"> </span>
                                    </button>
                                </form>
                            </i>
                        </td>
                        <td th:text="${contract.planet}"></td>
                        <td th:text="${contract.type}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${role == 'CLIENT'}" class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <colgroup>
                        <col style="width:30%"/>
                        <col style="width:20%"/>
                        <col style="width:20%"/>
                    </colgroup>
                    <tbody>
                    <tr th:each="contract : ${contracts}">
                        <td>
                            <i>
                                <form th:action="@{'/sec/contracts/' + ${contract.id}}" th:method="GET">
                                    <button class="btn btn btn-info" type="Submit">
                                        <span th:text="${contract.title}"> </span>
                                    </button>
                                </form>
                            </i>
                        </td>
                        <td th:text="${contract.planet}"></td>
                        <td th:text="${contract.type}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
</body>
</html>