<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/header :: header-meta"></div>
    <title>Contract View</title>
    <div th:insert="fragments/table :: table-meta"></div>
</head>
<body>
<div>
    <div th:replace="fragments/header :: header"></div>

    <section>
        <div class="product-sidebar card mt-4">
            <div class="card-body" th:if="${contract != null}" style="color: #cccccc">
                <h1 class="display-3" th:text="${contract.title}"></h1>
                <h3 class="display-5" th:text="${contract.phase}"></h3>
                <h4 th:text="${contract.planet}"></h4>
                <h6 th:text="${contract.type}"></h6>
                <ul class="product-meta list-inline mt-3">
                    <li class="d-flex align-items-center justify-content-between">
                        <span th:text="${contract.requirements}"></span>
                    </li>
                    <li class="d-flex align-items-center justify-content-between">
                        <span th:text="${contract.description}"></span>
                    </li>
                </ul>
                <div class="btn-toolbar">
                    <div th:if="${role == 'LORD' && contract.flight == null && contract.phase.name() != 'WAIT_APPROVE' && contract.phase.name() != 'CLOSED'}"
                         class="btn-group mr-2">
                        <i>
                            <form th:action="@{'/sec/flights/create/' + ${contract.id}}" th:method="GET">
                                <button class="btn btn-warning" type="Submit">
                                    <span> Add Flight </span>
                                </button>
                            </form>
                        </i>
                    </div>
                    <div th:if="${role == 'LORD' && contract.flight != null}" class="btn-group mr-2">
                        <i>
                            <form th:action="@{'/sec/flights/' + ${contract.flight.id}}" th:method="GET">
                                <button class="btn btn-info" type="Submit">
                                    <span> Check Flight </span>
                                </button>
                            </form>
                        </i>
                    </div>

                    <div th:if="${role == 'GAMORA' && contract.tactic == null && contract.phase.name() != 'WAIT_APPROVE' && contract.phase.name() != 'CLOSED'}"
                         class="btn-group mr-2">
                        <i>
                            <form th:action="@{'/sec/tactic/create/' + ${contract.id}}" th:method="GET">
                                <button class="btn btn-warning" type="Submit">
                                    <span> Add Tactic </span>
                                </button>
                            </form>
                        </i>
                    </div>
                    <div th:if="${role != 'CLIENT' && contract.tactic != null}" class="btn-group mr-2">
                        <i>
                            <form th:action="@{'/sec/tactic/' + ${contract.tactic.id}}" th:method="GET">
                                <button class="btn btn-info" type="Submit">
                                    <span> Check Tactic </span>
                                </button>
                            </form>
                        </i>
                    </div>


                    <div th:if="${role == 'LORD' && contract.flight != null && contract.tactic != null && contract.phase.name() == 'APPROVED'}"
                         class="btn-group mr-2">
                        <i>
                            <form th:action="@{'/sec/contracts/init/' + ${contract.id}}" th:method="GET">
                                <button class="btn btn-success" type="Submit">
                                    <span> Initiate </span>
                                </button>
                            </form>
                        </i>
                    </div>
                    <div th:if="${role == 'LORD' && contract.phase.name() == 'IN_PROGRESS'}" class="btn-group mr-2">
                        <i>
                            <form th:action="@{'/sec/contracts/close/' + ${contract.id}}" th:method="GET">
                                <button class="btn btn-success" type="Submit">
                                    <span> Close </span>
                                </button>
                            </form>
                        </i>
                    </div>
                    <div th:if="${role == 'LORD' && contract.phase.name() == 'WAIT_APPROVE'}" class="btn-group mr-2">
                        <i>
                            <form th:action="@{'/sec/contracts/approve/' + ${contract.id}}" th:method="GET">
                                <button class="btn btn-success" type="Submit">
                                    <span> Approve </span>
                                </button>
                            </form>
                        </i>
                    </div>
                    <div th:if="${role == 'LORD' && contract.phase.name() == 'WAIT_APPROVE' || contract.phase.name() == 'DONE'}"
                         class="btn-group mr-2">
                        <form th:action="@{'/sec/contracts/' + ${contract.id}}" th:method="DELETE">
                            <button class="btn btn-danger" type="Submit">
                                <span> Revoke </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" th:if="${role == 'LORD' && contract.phase.name() != 'CLOSED'}">
            <form th:action="@{'/sec/contracts/comment/' + ${contract.id}}" th:method="POST">
                <fieldset class="form-inline">
                    <div style="padding: 5px">
                        <textarea name="comment" placeholder="Enter comment" class="form-control"
                                  rows="4" cols="60" autocomplete="off"></textarea>
                    </div>
                    <div style="padding: 5px">
                        <button class="btn btn-info" type="Submit" style="width: 100px">
                            <span> Comment </span>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>

        <div th:if="${!comments.isEmpty()}">
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <colgroup>
                        <col style="width:20%"/>
                        <col style="width:60%"/>
                        <col style="width:20%"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Author</th>
                        <th>Comment</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                </table>
                <table cellpadding="0" cellspacing="0" border="0">
                    <colgroup>
                        <col style="width:20%"/>
                        <col style="width:60%"/>
                        <col style="width:20%"/>
                    </colgroup>
                    <tbody>
                    <tr th:each="comment : ${comments}">
                        <td th:text="${comment.author}"></td>
                        <td th:text="${comment.value}"></td>
                        <td th:text="${comment.date}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
</body>
</html>