<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/header :: header-meta"></div>
    <title>Flight</title>
</head>
<body>
<div>
    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <form th:action="@{'/sec/flights/create'}" th:method="POST">
            <fieldset class="form-inline">
                <div>Enter planets in route, one per line.</div>
                <div style="padding: 5px">
                        <textarea name="planets" placeholder="Enter planets" class="form-control" rows="4"
                                  cols="60" autocomplete="off"></textarea>
                </div>
                <input type="hidden" id="contract" name="contract" th:value="${contract}"/>
                <div>
                    <div style="padding: 5px">
                        <textarea name="details" placeholder="Enter route details" class="form-control" rows="4" cols="60"
                                  autocomplete="off"></textarea>
                    </div>
                </div>
                <div style="padding: 5px">
                    <button class="btn btn-info" type="Submit" style="width: 100px">
                        <span> Confirm </span>
                    </button>
                </div>
            </fieldset>
        </form>
    </div>

</div>
</body>
</html>