<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/header :: header-meta"></div>
    <title>Flight View</title>
    <div th:insert="fragments/table :: table-meta"></div>
</head>
<body>
<div>
    <div th:replace="fragments/header :: header"></div>

    <section>
        <div class="product-sidebar card mt-4">

            <div class="card-body" style="color: #cccccc">
                <h1 class="display-1" th:text="${flight.contract.title}"></h1>
                <h6 class="display-4" th:text="${'Details: ' + flight.routeDetails}" style="color: black"></h6>

                <div>
                    <h5 class="display-5" th:text="${'Detailed route one by one'}" style="color: #2D3B55"></h5>

                    <div class="tbl-header">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <colgroup>
                                <col style="width:5%"/>
                                <col style="width:40%"/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th style="color: black">№</th>
                                <th style="color: black">Planet</th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="tbl-content">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <colgroup>
                                <col style="width:5%"/>
                                <col style="width:40%"/>
                            </colgroup>
                            <tbody>
                            <tr th:each="planet,iter : ${flight.getPlanetsList()}">
                                <td th:text="${iter.count}" style="color: black"></td>
                                <td th:text="${planet}" style="color: black"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div>
                    <div th:if="${role == 'ADMIN'}"
                         class="btn-group mr-2">
                        <i>
                            <form th:action="@{'/sec/contracts/' + ${flight.contract.id}}" th:method="GET">
                                <button class="btn btn-info" type="Submit">
                                    <span> Back </span>
                                </button>
                            </form>
                        </i>
                    </div>
                    <div th:if="${role == 'ADMIN'}"
                         class="btn-group mr-2">
                        <i>
                            <form th:action="@{'/sec/flights/' + ${flight.id}}" th:method="DELETE">
                                <button class="btn btn-danger" type="Submit">
                                    <span> Revoke </span>
                                </button>
                            </form>
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>