<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/header :: header-meta"></div>
    <title>Journal</title>
</head>
<body>
<div>
    <div th:replace="fragments/header :: header"> </div>

    <section>
        <!--/*@thymesVar id="keys" type="java.util.List"*/-->
        <div th:if="${!keys.isEmpty()}">
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <colgroup>
                        <col style="width:30%"/>
                        <col style="width:30%"/>
                        <col style="width:20%"/>
                        <col style="width:20%"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Comment</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <colgroup>
                        <col style="width:30%"/>
                        <col style="width:30%"/>
                        <col style="width:20%"/>
                        <col style="width:20%"/>
                    </colgroup>
                    <tbody>
                    <tr th:each="key : ${keys}">
                        <td th:text="${key.id}"></td>
                        <td th:text="${key.comment}"></td>
                        <td th:text="${key.created}"></td>
                        <td>
                            <form th:action="@{'/sec/key/api/' + ${key.id}}" th:method="DELETE">
                                <button class="btn btn btn-info" name="key" th:accessLevel="${key.id}" type="Submit">
                                    <span> Revoke </span>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <div class="container">
        <form th:action="@{'/sec/key/api'}" th:method="POST">
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="input-group" style="margin: 0 auto; text-align: center">
                        <input id="comment" name="comment" placeholder="Comment" class="form-control" style="width: 200px" autocomplete="off"/>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <button class="btn btn btn-info" type="Submit">
                        <span> Generate </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>