<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/header :: header-meta"></div>
    <title>Login</title>
    <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
    <div class="panel panel-login" style="width: 50%; margin: 0 auto">
        <div class="panel-body">
            <form th:action="@{/login}" method="POST" autocomplete="off">
                <h2>LOGIN</h2>
                <div class="form-group">
                    <input id="uid" name="uid" class="form-control" placeholder="Email"/>
                </div>
                <div class="form-group">
                    <input id="password" name="password" type="password" class="form-control" placeholder="Password"/>
                </div>
                <div class="form-group" style="margin: 0 auto">
                    <input type="submit" id="login-submit" class="btn btn-login" value="Log In" style="width: 200px"/>
                </div>
            </form>
        </div>
        <div th:if="${(param.error != null) and (param.error[0] == 'true')}" class="alert alert-danger">
            Invalid username and password.
        </div>
    </div>
</div>
</body>
</html>