<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/header :: header-meta"></div>
    <title>Musics</title>
</head>
<body>
<div>
    <div th:replace="fragments/header :: header"></div>

    <section>
        <div class="container">
            <form th:action="@{'/sec/playlists/create'}" th:method="POST">
                <fieldset class="form-inline">
                    <div style="padding: 5px">
                        <input name="name" placeholder="Playlist Name" class="form-control" autocomplete="off"
                               style="width: 300px"/>
                    </div>
                    <div style="padding: 5px">
                        <button class="btn btn-info" type="Submit" style="width: 100px">
                            <span> Create </span>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>

        <!--/*@thymesVar id="keys" type="java.util.List"*/-->
        <div th:if="${playlists != null && !playlists.isEmpty()}">
            <div class="tbl-header">
                <table th:if="${role == 'LORD'}" cellpadding="0" cellspacing="0" border="0">
                    <colgroup>
                        <col style="width:30%"/>
                        <col style="width:30%"/>
                        <col style="width:20%"/>
                        <col style="width:20%"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Playlist</th>
                        <th>Songs</th>
                        <th>Created</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div th:if="${role == 'LORD'}" class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <colgroup>
                        <col style="width:30%"/>
                        <col style="width:30%"/>
                        <col style="width:20%"/>
                        <col style="width:20"/>
                    </colgroup>
                    <tbody>
                    <tr th:each="playlist : ${playlists}">
                        <td>
                            <i>
                                <form th:action="@{'/sec/playlists/' + ${playlist.id}}" th:method="GET">
                                    <button class="btn btn-info" type="Submit">
                                        <span th:text="${playlist.name}"></span>
                                    </button>
                                </form>
                            </i>
                        </td>
                        <td th:text="${playlist.songs.size()}"></td>
                        <td th:text="${playlist.created}"></td>
                        <td>
                            <i>
                                <form th:action="@{'/sec/playlists/' + ${playlist.id}}" th:method="DELETE">
                                    <button class="btn btn-danger" type="Submit">
                                        <span> Delete </span>
                                    </button>
                                </form>
                            </i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
</body>
</html>