<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/header :: header-meta"></div>
    <title>Register</title>
</head>
<body>
<div>
    <div class="container">
        <div class="panel-body">
            <form th:action="@{'/register'}" th:method="POST" class="form-horizontal">
                <fieldset class="form-inline">
                    <div style="padding: 5px; display: block" class="form-group">
                        <input name="name" placeholder="Name" class="form-control" autocomplete="off"
                               style="width: 220px"/>
                    </div>
                    <div style="padding: 5px; display: block" class="form-group">
                        <input name="surname" placeholder="Surname" class="form-control" autocomplete="off"
                               style="width: 220px"/>
                    </div>
                    <div style="padding: 5px; display: block" class="form-group">
                        <input name="planet" placeholder="Planet" class="form-control" autocomplete="off"
                               style="width: 220px"/>
                    </div>
                    <div style="padding: 5px; display: block" class="form-group">
                        <input name="email" placeholder="Email" class="form-control" autocomplete="off"
                               style="width: 220px"/>
                    </div>
                    <div style="padding: 5px; display: block" class="form-group">
                        <input name="password" placeholder="Password" class="form-control" autocomplete="off"
                               style="width: 220px"/>
                    </div>
                    <div style="padding: 5px" class="form-group">
                        <button class="btn btn-info" type="Submit" style="width: 80px">
                            <span> Add </span>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>