<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html"/>
    <title>Feedback</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/config.css}" href="../static/css/config.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/twicks.css}" href="../static/css/twicks.css" rel="stylesheet" type="text/css"/>

    <script th:day="scroll">
        $(window).on("load resize ", function () {
            var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
            $('.tbl-header').css({'padding-right': scrollWidth});
        }).resize();
    </script>
</head>
<body>
<div>
    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <div class="panel-body">
            <form th:action="@{'/register'}" th:method="POST" class="form-horizontal">
                <fieldset class="form-inline">
                    <div style="padding: 5px; display: block" class="form-group">
                        <input name="name" placeholder="Name" class="form-control" autocomplete="off"
                               style="width: 220px"/>
                    </div>
                    <div style="padding: 5px; display: block" class="form-group">
                        <input name="surname" placeholder="Surname" class="form-control" autocomplete="off"
                               style="width: 220px"/>
                    </div>
                    <div style="padding: 5px; display: block" class="form-group">
                        <input name="planet" placeholder="Planet" class="form-control" autocomplete="off"
                               style="width: 220px"/>
                    </div>
                    <div style="padding: 5px; display: block" class="form-group">
                        <input name="email" placeholder="Email" class="form-control" autocomplete="off"
                               style="width: 220px"/>
                    </div>
                    <div style="padding: 5px; display: block" class="form-group">
                        <input name="password" placeholder="Password" class="form-control" autocomplete="off"
                               style="width: 220px"/>
                    </div>
                    <div style="padding: 5px" class="form-group">
                        <button class="btn btn-info" type="Submit" style="width: 80px">
                            <span> Add </span>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>