<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html"/>
    <title>Feedback</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/config.css}" href="../static/css/config.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/twicks.css}" href="../static/css/twicks.css" rel="stylesheet" type="text/css" />

    <script th:day="scroll">
        $(window).on("load resize ", function() {
            var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
            $('.tbl-header').css({'padding-right':scrollWidth});
        }).resize();
    </script>
</head>
<body>
<div>
    <div th:replace="fragments/header :: header"> </div>

    <section>
        <!--/*@thymesVar id="holidays" type="java.util.List"*/-->
        <div th:if="${!holidays.isEmpty()}">
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <colgroup>
                        <col style="width:10%"/>
                        <col style="width:60%"/>
                        <col style="width:30%"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Holiday</th>
                        <th>Comment</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <colgroup>
                        <col style="width:10%"/>
                        <col style="width:60%"/>
                        <col style="width:30%"/>
                    </colgroup>
                    <tbody>
                    <tr th:each="day : ${holidays}">
                        <td th:text="${day.id}"></td>
                        <td th:text="${day.comment}"></td>
                        <td>
                            <form th:action="@{'/sec/holidays/' + ${day.id}}" th:method="DELETE">
                                <button class="btn btn btn-info" name="holiday" th:accessLevel="${day.id}" type="Submit">
                                    <span> Delete </span>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <div class="container">
        <form th:action="@{'/sec/holidays'}" th:method="POST" class="form-horizontal">
            <fieldset class="form-inline">
                <div>
                    <div style="padding: 5px; display: block">
                        <input name="date" placeholder="Holiday Date" class="form-control" autocomplete="off" style="width: 220px"/>
                    </div>
                    <div style="padding: 5px; display: block">
                        <input name="comment" placeholder="Comment" class="form-control" autocomplete="off" style="width: 220px"/>
                    </div>
                </div>
                <div style="padding: 5px">
                    <button class="btn btn-info" type="Submit" style="width: 80px">
                        <span> Add </span>
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>