<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/header :: header-meta"></div>
    <title>Tactic View</title>
    <div th:insert="fragments/table :: table-meta"></div>
</head>
<body>
<div>
    <div th:replace="fragments/header :: header"></div>

    <section>
        <div class="product-sidebar card mt-4">

            <div class="card-body" style="color: #cccccc">
                <h1 class="display-1" th:text="${tactic.contract.title}"></h1>
                <h6 class="display-4" th:text="${'Name: ' + tactic.name}" style="color: black"></h6>

                <div>
                    <h5 class="display-5" th:text="${'Detailed tactic per mercenary'}" style="color: #2D3B55"></h5>

                    <div class="tbl-header">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <colgroup>
                                <col style="width:5%"/>
                                <col style="width:40%"/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th style="color: black">Mercenary</th>
                                <th style="color: black">Role</th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="tbl-content">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <colgroup>
                                <col style="width:5%"/>
                                <col style="width:40%"/>
                            </colgroup>
                            <tbody>
                            <tr th:each="role : ${tactic.roles}">
                                <td th:text="${role.mercenary.name}" style="color: black"></td>
                                <td th:text="${role.roleType}" style="color: black"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div>
                    <div class="btn-group mr-2">
                        <i>
                            <form th:action="@{'/sec/contracts/' + ${tactic.contract.id}}" th:method="GET">
                                <button class="btn btn-info" type="Submit">
                                    <span> Back </span>
                                </button>
                            </form>
                        </i>
                    </div>
                    <div th:if="${role == 'GAMORA' && tactic.contract.phase.name() == 'APPROVED'}"
                         class="btn-group mr-2">
                        <i>
                            <form th:action="@{'/sec/tactic/' + ${tactic.id}}" th:method="DELETE">
                                <button class="btn btn-warning" type="Submit">
                                    <span> Revoke </span>
                                </button>
                            </form>
                        </i>
                    </div>
                </div>

                <div class="container">
                    <form th:action="@{'/sec/tactic/comment/' + ${tactic.id}}" th:method="POST">
                        <fieldset class="form-inline">
                            <div style="padding: 5px">
                        <textarea name="comment" placeholder="Enter comment" class="form-control"
                                  rows="4" cols="60" autocomplete="off"></textarea>
                            </div>
                            <div style="padding: 5px">
                                <button class="btn btn-info" type="Submit" style="width: 100px">
                                    <span> Comment </span>
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>

                <div th:if="${!comments.isEmpty()}">
                    <div class="tbl-header">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <colgroup>
                                <col style="width:20%"/>
                                <col style="width:60%"/>
                                <col style="width:20%"/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>Author</th>
                                <th>Comment</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                        </table>
                        <table cellpadding="0" cellspacing="0" border="0">
                            <colgroup>
                                <col style="width:20%"/>
                                <col style="width:60%"/>
                                <col style="width:20%"/>
                            </colgroup>
                            <tbody>
                            <tr th:each="comment : ${comments}">
                                <td th:text="${comment.author}"></td>
                                <td th:text="${comment.value}"></td>
                                <td th:text="${comment.date}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>