<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/header :: header-meta"></div>
    <title>Weapons</title>
</head>
<body>
<div>
    <div th:replace="fragments/header :: header"></div>

    <section>
        <div class="text-center" th:if="${role == 'ROCKET'}">
            <form th:action="@{'/sec/weapons/create'}">
                <fieldset class="form-inline" style="width: 100px">
                    <button class="btn btn-primary center-block" type="submit">
                        <span> Add Weapon </span>
                    </button>
                </fieldset>
            </form>
        </div>

        <div>
            <div th:if="${!weapons.isEmpty()}">
                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <colgroup>
                            <col style="width:15%"/>
                            <col style="width:15%"/>
                            <col style="width:40%"/>
                            <col style="width:20%"/>
                            <col style="width:10%"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Registered</th>
                            <th></th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-content">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <colgroup>
                            <col style="width:15%"/>
                            <col style="width:15%"/>
                            <col style="width:40%"/>
                            <col style="width:20%"/>
                            <col style="width:10%"/>
                        </colgroup>
                        <tbody>
                        <tr th:each="weapon : ${weapons}">
                            <td th:text="${weapon.type}"></td>
                            <td th:text="${weapon.name}"></td>
                            <td th:text="${weapon.description}"></td>
                            <td th:text="${weapon.addDate}"></td>
                            <td th:if="${role == 'ROCKET'}">
                                <i>
                                    <form th:action="@{'/sec/weapons/' + ${weapon.id}}" th:method="DELETE">
                                        <button class="btn btn btn-danger" name="id" th:id="${weapon.id}" type="Submit">
                                            <span th:text="Delete"> </span>
                                        </button>
                                    </form>
                                </i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>